@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* @font-face {
    font-family: 'UTM-Nokia';
    src: url('../fonts/UTM-Nokia.ttf');
    font-weight: normal;
    font-style: normal;
} */

:root {
    --primary-color: #212021;
    /* --secondary-color: #302a27; */
    --secondary-color: #f5f0f6;
    --tertiary-color: #c1c1c1;
    --accent-color1: #0095ff;
    --accent-color2: #2b4162;
    --accent-color3: #ff724b;
    --ff: "Work Sans";
    /* --h1: 900 54px/64px var(--ff); */
    --h1: 600 max(54px, 4vw) / max(64px, 5vw) "Varela";
    /* --h2: 800 36px/36px var(--ff); */
    --h2: 600 max(36px, 3vw) / max(36px, 4vw) var(--ff);
    /* --h3: 700 24px/30px var(--ff); */
    --h3: 500 max(24px, 2vw) / max(30px, 3vw) var(--ff);
    --h4: 500 max(22px, 1.25vw) / max(26px, 2vw) var(--ff);
    --links: bold 18px/18px var(--ff);
    --p: 18px/30px var(--ff);
    --subtext: 12px/20px var(--ff);
    --transition: 100ms ease-in-out;
    --shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
    --shadow-dark: rgba(0, 0, 0, 0.3) 0px 5px 10px 5px;
    --drop-shadow: 2px 4px 6px var(--primary-color);
    --scrollbar-bg: var(--secondary-color);
    --scrollbar-thumb: var(--primary-color);
    --scrollbar-thumb-hover: hsl(300, 2%, 33%);
    --background: var(--secondary-color);
}

/* SELECTION */
/* Firefox */
::-moz-selection {
    color: var(--primary-color);
    background: var(--accent-color3);
}

::selection {
    color: var(--primary-color);
    background: var(--accent-color3);
}

/* //////// */

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

/* //////// */

/* INPUT */
input[type=range] {
    appearance: none;
    width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--accent-color2);
    border-radius: 3px;
    border: 1px solid var(--primary-color);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--accent-color2);
    border-radius: 3px;
    border: 1px solid var(--primary-color);
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    border: 1px solid var(--primary-color);
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]::-moz-range-thumb {
    appearance: none;
    border: 1px solid var(--primary-color);
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

/* //////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: auto;
}

body {
    font-family: var(--ff);
    background-color: var(--secondary-color);
    background-repeat: repeat;
    background-position: 52% 7%;
    background-blend-mode: multiply;
    color: var(--primary-color);
    /* transition: var(--transition); */
    text-align: center;
}

h1 {
    font: var(--h1);
}

h2 {
    font: var(--h2);
}

h3 {
    font: var(--h3);
}

h4 {
    font: var(--h4);
}

p {
    font: var(--p);
}

a {
    font: var(--links);
    text-decoration: none;
    color: var(--primary-accent-color);
}

button {
    font: var(--p);
    color: var(--primary-color);
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

img[data-loaded="false"] {
    opacity: 0;
}

/* Image loading */
*:has(>img[data-loaded="false"]:not([data-loader="visibility"])):before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50%;
    width: 300%;
    background-color: var(--tertiary-color);
    background-image: linear-gradient(315deg, transparent 33.33%, var(--secondary-color) 50%, transparent 66.66%);
    background-repeat: no-repeat;
    animation: imgLoading 2s linear infinite;
}

img[data-loader="visibility"] {
    transition: opacity var(--transition);
}

img[data-loaded="false"][data-loader="visibility"] {
    opacity: 0;
}

@keyframes imgLoading {
    0% {
        background-size: 50% 100%;
        background-position: -200% 0%;
    }

    100% {
        background-size: 200% 100%;
        background-position: -100% 0%;
    }
}

.prevent-select {
    /* Safari */
    -webkit-user-select: none;
    /* IE 10 and IE 11 */
    -ms-user-select: none;
    /* Standard syntax */
    user-select: none;
}

@media (min-width: 851px) {
    .mobile-visible {
        display: none !important;
    }
}

@media (max-width: 850px) {
    .desktop-visible {
        display: none !important;
    }
}