.footer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    background-color: var(--accent-color2);
    color: var(--secondary-color);
    box-shadow: 0px 0px 1px 1px var(--accent-color2);

    &>*:first-child {
        justify-self: left;
    }

    &>*:last-child {
        justify-self: right;
    }

    &>* {
        justify-self: center;
        align-self: center;
    }
}

.copydevcreations {
    display: flex;
    font-size: 0;

    &>img {
        width: 35px;
    }
}

.logo {
    height: 35px;
}

.copyright {
    font-size: 1em;
}

@media (max-width: 850px) {
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        &>*:first-child {
            justify-self: center !important;
        }
    }
}