.section1,
.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2>h2 {
    margin-top: 10lvh;
    margin-bottom: 20px;
}

.background {
    position: absolute;
    width: 100%;
    height: 75lvh;
    /* background-image: url("/images/hero.jpg"); */
    background-position: center;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 60px), 66.66% 100%, 0% calc(100% - 120px));

    &>video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &>.colorOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.overlay {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 75lvh;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    text-wrap: nowrap;
    width: 100%;
    font: 700 8vw / 15lvh var(--ff);
    height: calc(8vw + 40px);
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 10px var(--primary-color));
    color: var(--secondary-color);
}

.introduction {
    margin: 5lvh 20px 0;
    max-width: 950px;
}

.zespol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
    width: 100%;
    gap: 20px;

    &>p {
        text-align: left;
        max-width: 700px;
        margin: auto auto;
    }

    &>.image {
        width: 100%;
        height: 400px;
        /* background-image: url("/images/hero.jpg"); */
        background-size: cover;
        background-position: center;
        clip-path: polygon(0% 60px, 33.33% 0%, 100% 120px, 100% calc(100% - 60px), 66.66% 100%, 0% calc(100% - 120px));
    }
}

.kierownictwo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.person {
    width: 350px;
    height: auto;
    /* background-color: var(--secondary-color); */

    &>img {
        width: 350px;
        height: 350px;
        object-fit: cover;
        clip-path: polygon(0% 0%, calc(100% - 60px) 0%, 100% 60px, 100% 100%, 60px 100%, 0% calc(100% - 60px));
    }
}

@media (max-width: 850px) {
    .introduction {
        text-align: left;
    }

    .zespol {
        grid-template-columns: 1fr;
    }
}